@tailwind base;
@tailwind components;
@tailwind utilities;

#error {
  border: 2px solid red;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.5em;
  display: none;
}

img.poster {
  width: 100px;
  height: 120px;
}

img.category {
  width: 85px;
  height: 80px;
}
